// стили дополняют header-стили

.dropdown {
  position: relative;
}

.dropdown__btn {
  display: flex;
  align-items: center;
  gap: 5px;
  background: none;
  border: none;
  svg {
    fill: white;
    transition: all 0.5s ease;
  }
  &:hover {
    svg {
      fill: #F05718;
    }
  }
}

.dropdown__menu {
  position: absolute;
  left: 0;
  top: calc(100% + 24px);
  min-width: 100px;
  background-color: rgb(179, 179, 179);
  border-radius: 10px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, .1);
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.5s ease-in;
  
  @media screen and (max-width: $breakpoint768) {
    position: static;
    background-color: inherit;
    box-shadow: none;
    font-size: 22px;
  }
}

.dropdown__link {
  display: block;
  width: 100%;
  text-align: center;
  padding: 10px 0 10px 0;
  &:first-child {
    margin-top: 10px;
  }
  &:last-child {
    margin-bottom: 10px;
  }
}

.dropdown > .dropdown__btn.opened + .dropdown__menu {
  max-height: 200px;
}

.dropdown > .dropdown__btn.opened {
  color: #F05718;
  svg {
    fill:#F05718;
    transform: rotate(180deg);
  }
}