<div class="tabs">
  <div class="tabs__nav">
    <button class="tabs__nav-btn" type="button" data-tab="#tab_1">Tab 1</button>
    <button class="tabs__nav-btn" type="button" data-tab="#tab_2">Tab 2</button>
    <button class="tabs__nav-btn" type="button" data-tab="#tab_3">Tab 3</button>
  </div>
  <div class="tabs__content">
    <div class="tabs__item" id="tab_1">
      <p>Content tab 1: Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolorem atque suscipit quos alias quo architecto.</p>
    </div>
    <div class="tabs__item" id="tab_2">
      <p>Content tab 2:Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolorem atque suscipit quos alias quo architecto.</p>
    </div>
    <div class="tabs__item" id="tab_3">
      <p>Content tab 3:Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolorem atque suscipit quos alias quo architecto.</p>
    </div>
  </div>
</div>