<!-- три блока в линию -->
<div class="block">
  <div class="container">
    <h2 class="title">мы лучшие</h2>
    <div class="block__content">
      <div class="block__column">
        <div class="block__icon">
          <svg class="icon">
              <use xlink:href="svg/sprite.svg#meat"></use>
          </svg>
        </div>
        <h3 class="block__title">100% свежее мясо</h3>
        <div class="block__text"><p>Драма представляет собой деструктивный цикл. Анапест представляет собой анапест. Ямб неравномерен.</p></div>
      </div>
      <div class="block__column">
        <div class="block__icon">
          <svg class="icon">
              <use xlink:href="svg/sprite.svg#meat"></use>
          </svg>
        </div>
        <h3 class="block__title">Натуральные ингредиенты</h3>
        <div class="block__text"><p>Драма представляет собой деструктивный цикл. Анапест представляет собой анапест. Ямб неравномерен.</p></div>
      </div>
      <div class="block__column">
        <div class="block__icon">
          <svg class="icon">
              <use xlink:href="svg/sprite.svg#meat"></use>
          </svg>
        </div>
        <h3 class="block__title">Ручная сборка</h3>
        <div class="block__text"><p>Драма представляет собой деструктивный цикл. Анапест представляет собой анапест. Ямб неравномерен.</p></div>
      </div>
    </div>
  </div>
</div>