<div class="animals">
  <div class="container">
    <div class="filter">
      <button class="animals__button animals__button-all" data-filter="all">All</button>
      <button class="animals__button animals__button-cat" data-filter="cat">Cat</button>
      <button class="animals__button animals__button-dog" data-filter="dog">Dog</button>
      <button class="animals__button animals__button-bird" data-filter="bird">Bird</button>
    </div>
    <div class="animals__content">
      <div class="card cat">Cat</div>
      <div class="card dog">Dog</div>
      <div class="card bird">Bird</div>
      <div class="card dog">Dog</div>
      <div class="card dog">Dog</div>
      <div class="card cat">Cat</div>
      <div class="card bird">Bird</div>
      <div class="card cat">Cat</div>
      <div class="card bird">Bird</div>
    </div>
  </div>
</div>