<div class="pagination">
  <a href="#" class="prev">
    <svg class="icon" xmlns="http://www.w3.org/2000/svg" width="16.101" height="15.903" viewBox="0 0 16.101 15.903">
      <path d="M-80,22l16.1-7.876L-66.968,22l3.069,8.027Z" transform="translate(80 -14.124)"/>
    </svg>
  </a>
  <a href="#" class="active">1</a>
  <a href="#">2</a>
  <a href="#">3</a>
  <a href="#">4</a>
  <a href="#">5</a>
  <a href="#">6</a>
  <a href="#" class="next">
    <svg class="icon" xmlns="http://www.w3.org/2000/svg" width="16.101" height="15.903" viewBox="0 0 16.101 15.903">
      <path d="M-80,22l16.1-7.876L-66.968,22l3.069,8.027Z" transform="translate(-63.899 30.027) rotate(180)"/>
    </svg>
  </a>
</div>

<!-- <a href="#" class="prev">&laquo;</a> -->
<!-- <a href="#" class="next">&raquo;</a> -->