$base: #efefef;
$accent: #2C303E;
$highlight: #F05718;

.pagination {
  padding-top: 20px;
  display: flex;
  gap: 10px;
  align-items: center;
  justify-content: center;
  a {
    display:flex;
    align-items: center;
    justify-content: center;
    background: $base;
    border-radius: 4px;
    border: 1px solid #fff;
    box-shadow: 4px 4px 6px 0px rgba(0, 0, 0, 0.2);
    transition: all .3s ease-in-out;
    width: 30px;
    height: 30px;
    font-size: 16px;
    font-family: "Open Sans", Helvetica, sans-serif;
    text-align: center;
    &:hover {
      background: $highlight;
      color: #fff;
      transition: all .3s ease-in-out;
      svg {
        fill:#fff;
      }
    }
  }
  .active {
    background: $accent;
    color: #fff;
  }
}