<button class="popap-btn">Открыть модалку</button>
<!-- Moдальное окно -->
<div class="popup" data-modal>
  <div class="popup__content">
      <button type="button" class="popup__close"><strong>&times;</strong></button>
      <div class="popup__form">
          <form class="form" action="#">
            <h2>Введите ваши данные <br>и нажмите заказать звонок</h2>
              <input class="form__input" name="user_name" required type="text" placeholder="Введите ваше имя">
              <input class="form__input" name="user_phone" required type="text" placeholder="Введите телефон">
              <button class="button" name="submit" type="submit">Заказать звонок</button>
              <p class="form__notice">Перезвоним в течение 10 минут</p>
          </form>
      </div>
  </div>
</div>  
