form {
  display: flex;
  flex-direction: column;
  padding: 20px;
  gap: 15px;
  text-align: start;
  fieldset {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-bottom: 40px;
  }
  .form-container {
    display: flex;
    gap: 30px;
  }
  button {
    width: 150px;
  }
}